#feeds,
#feeds-search {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

  h1 {
    font-weight: bold;
    font-size: 40pt;
  }

  .feeds-container {
    display: flex;
    flex-direction: column;
    width: 75%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    #search-container {
      border-bottom: 2px solid #e9e9ea;
      padding-bottom: 40px;
      margin-bottom: 20px;
    }
  }
  #feed-search-container {
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid #e9e9ea;
    width: 70%;

    @include media-breakpoint-down(md) {
      width: 95%;
    }
  }
  #search-wrap {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 10px 0 20px 0;
    align-items: center;
    margin-left: 10px;
  }
  .input-wrap {
    width: calc(100% - 150px);
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  .custom-select {
    border: none;
    border-radius: 0;
    padding: 0;
    padding-left: 20px;
    height: inherit;
    border-left: 2px solid #e8e8e9;
    width: 150px;
    color: #000000;
  }
  .left {
    width: 70%;
    margin-right: 1.5em;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      width: 100%;
    }
  }

  .feeds-right-content {
    width: 30%;

    @include media-breakpoint-down(md) {
      width: 100%;
      background-color: transparent;
      border-radius: 0;
      flex-wrap: nowrap;
      overflow-x: auto;

      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
    }

    #followed-tags {
      background-color: white;
      border-radius: 20px;
      margin-bottom: 3rem;
    }

    #followed-users {
      background-color: white;
      border-radius: 20px;

      .followed-user-pill {
        padding: .3rem;
      }
    }

    .title {
      font-weight: bold;
      display: inline-block;
      // border-bottom: 2px solid #000000;
      box-shadow: 0 6px 0 -4px #000000;
      padding: 20px 0px;
      margin-left: 20px;

      @include media-breakpoint-down(md) {
        font-weight: normal;
        margin-left: 0;
        box-shadow: none;
      }
    }
    .body {
      border-top: 2px solid #e9e9ea;
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      @include media-breakpoint-down(md) {
        padding: 0;
        border-top: none;
        flex-wrap: nowrap;
        overflow-x: auto;
  
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .followed-tag-pill {
      padding: 5px 10px;
      margin: 5px;
      border: 1px solid #d5d8e2;
      border-radius: 20px;
      align-items: center;
      font-weight: bold;

      @include media-breakpoint-down(md) {
        margin: 0px 10px 10px 0px;
        display: flex;
      }

      span {
        font-size: 20px;
        color: #f26b6b;
        font-weight: normal;
      }
    }
    #add-tag, #following-user {
      padding: 4px 7px;
      margin: 5px;
      border: 1px solid #d5d8e2;
      display: inline-block;
      border-radius: 20px;
      cursor: pointer;

      @include media-breakpoint-down(md) {
        margin: 0px 10px 10px 0px;
      }
    }
  }

  #tag-container {
    display: flex;
    flex-direction: column;

    #popular-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @include media-breakpoint-down(md) {
        flex-wrap: nowrap;
        overflow-x: auto;
        
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .tag-pill {
        padding: 10px 15px;
        background-color: white;
        margin: 0px 10px 0px 0px;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .cursor {
    cursor: pointer;
  }
  .tag-row {
    width: 70%;
    display: block;
    margin: 10px;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    h2 {
      font-weight: bold;
      font-size: 24pt;

      @include media-breakpoint-down(md) {
        font-size: 16pt;
      }
    }
  }
  .followed-project-container {
    display: inline-block;
    width: 30%;
    margin: 10px;
    height: auto;
    min-width: 400px;
    @include media-breakpoint-down(md) {
      width: 100%;
      margin: 0;
      min-width: auto;
    }
    .title-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
      .details {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        .title {
          font-size: 16pt;
          @include media-breakpoint-down(md) {
            font-size: 12pt;
          }
        }
        .owner {
          @include media-breakpoint-down(md) {
            font-size: 11pt;
          }
        }
        .owner:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .image-container {
      height: 140px;
      display: flex;
    }
    .project-image {
      border-radius: 16px;
      margin: 0px 5px;
    }
    .followed-project-tags {
      padding: 10px 0px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      height: 102px;
      .tag-pill {
        padding: 5px 15px;
        background-color: white;
        margin: 5px;
        border-radius: 24px;
        cursor: pointer;
        font-size: 12pt;
        font-weight: $nexa-xbold;

        span {
          color: #f26b6b;
          font-size: 16pt;
        }
      }
    }
  }
}

.search {
  width: 70%;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

body {
  cursor: default;
}

.followed-user-popover {
  font-size: 14px;

  .user-fullname {
    font-weight: bold;
  }

  ul {
    padding: 5px 15px 0 15px;
    margin: 0;
  }
}