#project-container {
  // display: flex;
  // flex-direction: column;

  .moodboard-container {
    @include media-breakpoint-down(lg) {
      overflow-x: auto;
      margin: 0 -15px;
      padding-left: 15px;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .no-project-content {
      height: 400px;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 10px 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      .add-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          text-align: center;
          width: 160px;
          font-size: 16px;
          font-weight: $nexa-bold;
        }
      }
    }

    .project-images {
      overflow-x: auto;

      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */

      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .project-image:hover .delete-button {
      opacity: 1;
    }

    .delete-button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      top: 12px;
      right: 12px;
      border: none;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.4s;
      transition-delay: 0.1s;
    }
  }

  .settings-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .settings {
      display: flex;
      flex-direction: row;

      button {
        margin: 0px 10px;
        min-width: 0;
      }

      #share-button,
      #settings-button {
        display: flex;
        align-items: center;
        min-width: 110px;

        span {
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }

      #settings-button {
        min-width: 140px;
      }
    }
  }

  .bgImage {
    background-size: cover;
    background-position: center;
    height: 416px;
    border-radius: 20px;
    z-index: 99;
  }

  .small {
    height: 200px;
  }

  .pills-container {
    flex-wrap: wrap;
    margin-top: 25px;
    height: 50px;
    width: 90%;
  }

  .pill {
    cursor: pointer;
    width: 227px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0px 4px 8px rgba(30, 33, 43, 0.05);
    padding: 10px;
    margin: 10px;
  }

  .pill-badge {
    width: 40px;
    height: 28px;
    color: #fff;
    background-color: #f26b6b;
    border-radius: 16px;
  }

  .content-bar {
    margin: 0 auto;
    width: 80%;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  .cursor {
    cursor: pointer;
  }

  #link-preview {
    border-radius: 16px;

    img {
      width: 100%;
      height: auto;
    }

    .card-img-top {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }

    a {
      margin-left: 8px;
    }
  }

  .action-menu {
    display: flex;
    position: absolute;
    top: 7px;
    right: 7px;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: 1px solid #6c757d;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
  }

  .action-menu svg path {
    stroke: #6c757d;
  }

  .action-menu:focus {
    opacity: 1;
  }

  .link-preview,
  .note-preview,
  .article-preview {
    &:hover .action-menu {
      opacity: 1;
    }
  }
}

#action-menu-popover {
  > .popover-body {
    padding: 0;

    div {
      padding: 10px 30px;
      cursor: pointer;
    }

    div:hover {
      background-color: #e9f4f3;
      color: #89a6a5;

      path {
        stroke: #89a6a5;
      }
    }
  }

  svg {
    margin-right: 10px;
  }
}

#new-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 96px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  .left,
  .right {
    width: 30%;
    margin: 20px;

    @include media-breakpoint-down(md) {
      width: 50%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin: 0px 0px 40px;
    }
  }

  .left {
    position: relative;

    .no-images {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: inherit;
      background-color: #ffffff;
      border: 1px dashed #d5d8e2;
      border-radius: 16px;
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        min-height: 200px;
      }
    }

    #feature-image-container {
      #close-button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 24px;
        padding: 3px 7px;

        path {
          stroke-width: 2px;
        }
      }
    }

    .feature-image {
      height: 525px;
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
    }

    .tag-row {
      padding: 10px;
      position: relative;
      bottom: 56px;

      .feature-tag {
        background-color: #fff4db;
        color: #d18c08;
        font-size: 12px;
        border-radius: 24px;
        display: inline-block;
        padding: 5px 10px;
        margin: 5px 0px 5px 5px;

        .icon {
          .Streamline_Icon {
            svg {
              margin-bottom: 2px;
            }
          }
        }

        .remove {
          padding: 0px 5px;
          margin-left: 5px;
          border-left: 1px solid #d18c08;

          path {
            stroke-width: 3;
          }
        }
      }

      .image-tag {
        background-color: #fff4db;
        color: #d18c08;
        font-size: 12px;
        border-radius: 24px;
        display: inline-block;
        padding: 5px 10px;
        margin: 5px 5px;
      }

      .add-tag {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 24px;
        padding: 5px 9px;
        margin-right: 5px;
      }

      .divider {
        background-color: white;
        width: 1px;
        margin: 0px 10px;
      }
    }
  }

  .right {
    .vs__dropdown-menu li:first-child {
      display: none;
    }

    .select-option {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      font-weight: $nexa-xbold;

      img {
        height: 40px;
        width: 40px;
        border-radius: 8px;
        margin-right: 10px;
      }
    }

    .default-option {
      .option-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .option-title {
          font-size: 14px;
          line-height: 17px;
          color: #1e212b;
          font-weight: $nexa-xbold;
        }

        .option-description {
          font-size: 12px;
          line-height: 14px;
          color: #999999;
          font-weight: $nexa-bold;
        }
      }
    }

    #list-footer {
      display: flex;
      justify-content: center;
      padding: 20px;
      border-top: 1px solid #d5d8e2;
      font-weight: $nexa-bold;
      font-size: 14px;
      margin-top: 5px;
    }

    #list-footer:hover {
      text-decoration: underline;
    }

    .vs__dropdown-toggle {
      padding: 10px 0px;
      border: 1px solid #d5d8e2;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      background: white;
    }
  }
}

.project-preview-container {
  // margin-top: 50px;
  margin: 1rem 0;
  // display: flex;
  // justify-content: center;
  // min-width: 0;
  // margin-bottom: 30px;
  box-shadow: $box-shadow;
  border-radius: 20px;
  background-color: white;
  // width: 100%;

  .action-btn-wrapper {
    position: absolute;
    top: 25px;
    right: 25px;

    .btn {
      border-radius: 20px;
      padding: 5px;
    }
  }

  .card-body {
    small {
      font-weight: 300;
      font-size: 12px;
      color: $habitat-grey;
    }
  }

  .project-title {
    // padding: 0px 150px;

    // @include media-breakpoint-down(md) {
    //   padding: 0;
    // }
  }

  .tag-row {
    padding: 10px;
    position: absolute;
    bottom: 0;

    .tag-pill {
      // background-color: #fff4db;
      // color: #d18c08;
      font-size: 12px;
      border-radius: 24px;
      display: inline-block;
      padding: 5px 10px;
      margin: 5px 0px 5px 5px;
    }
  }

  .project-images {
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    // overflow-x: auto;
    // -ms-overflow-style: none;
    // /* IE and Edge */
    // scrollbar-width: none;
    // /* Firefox */

    // /* Hide scrollbar for Chrome, Safari and Opera */
    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }

  $img-container-height: 320px;
  .bgImage {
    background-size: cover;
    background-position: center;
    height: $img-container-height;
    //
    z-index: 99;
    // border: 2px white solid;

    &.img-2,
    &.img-3,
    &.img-4 {
      height: ($img-container-height / 2);
    }

    &.img-2 {
      border-left: 3px white solid;
      border-bottom: 3px white solid;
    }

    &.img-3,
    &.img-4 {
      border-left: 3px white solid;
    }
  }

  .small {
    height: 200px;
  }

  .alt-button {
    min-width: 0;
  }

  .menu-box {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d5d8e2;
    margin-left: 20px;
    background-color: white;
  }

  .menu-box:hover {
    cursor: pointer;
    background-color: #e9f4f3;
  }

  .no-images {
    height: $img-container-height;
    border: 1px dashed $gray-200;
    background-color: white;

    border-radius: 20px 20px 0px 0px;
  }

  .hover {
    cursor: pointer;
  }
}
